@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Nothing+You+Could+Do&family=Permanent+Marker&family=Rock+Salt&family=Sigmar&display=swap');
@font-face {
    font-family: "CenturyGothic";
    src: url("fonts/CenturyGothic.ttf") format("truetype");

}

/* ------------------------------------------------------------- */
/* GERAL */
/* ------------------------------------------------------------- */

body {
    background-color: #84728B;
    margin: 0 !important;
    padding: 0 !important;
}

html, body {
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    height: 100%;
}

/* ------------------------------------------------------------- */
/* HERO */
/* ------------------------------------------------------------- */

.hero {
    width: 100%;
    background-image: url('images/capa-fundo.png');
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: #84728B;
    aspect-ratio: 1920 / 800;
    scroll-snap-align: start;
}

/* ------------------------------------------------------------- */
/* MENU */
/* ------------------------------------------------------------- */

.menu {
    background-color: #84728B;
    display: flex;
    justify-content: center;
    gap: 70px;
    flex-wrap: wrap;
}

nav.menu a.btn-nav {
    padding: 8px 50px;
    margin-bottom: 30px;
    background-color: #9b8aa1;
    color: #68566e;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    transition: 0.3s ease;
    border: 2px solid transparent;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
    font-family: "Century Gothic", sans-serif;
    font-weight: bolder;
    font-size: 1.2em;
}

.btn-nav:hover {
    background-color: #92E0BD;
    border-color: #CA92E0;
    transform: scale(1.05);
}

/* ------------------------------------------------------------- */
/* SOBRE */
/* ------------------------------------------------------------- */

#sobre {
    background-color: #3F6152;
    min-height: 90vh;
    width: 100%;
    scroll-snap-align: start;

    display: flex;
    justify-content: center; 
    align-items: center;      
}

.etiqueta-sobre {
    background-color: #84728B;      
    color: #A8C3B5;            
    font-family: 'Alfa Slab One', cursive;
    font-size: 2.8em;
    padding: 8px 35px;
    display: inline-block;
    position: relative;
    margin-left: 40px;            
    margin-top: 20px;
}

/* Triângulo lateral (como na imagem) */
.etiqueta-sobre::after {
    content: "";
    position: absolute;
    right: -55px;
    top: 0;
    width: 0;
    height: 0;
    border-top: 40px solid #3F6152;  /* mesma cor */
    border-left: 55px solid transparent;
    transform: rotate(90deg);
}

.sobre-container {
    display: flex;
    justify-content: space-evenly;  
    align-items: center;        
    flex-wrap: wrap;
    width: 100%;
    max-width: 1400px;          
}
.sobre-texto p {
    max-width: 600px;
    width: 100%;
    text-align: justify;
    font-size: 1.2em;
    color: white;
    line-height: 1.7;
}

.sobre-texto h1 {
    font-family: "Sigmar", sans-serif;
    font-size: 2.5em;
    font-weight: bolder;
    color: #E0C792;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.25);
}

.sobre-imagem img {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
    
}

/* ------------------------------------------------------------- */
/* PROJETOS */
/* ------------------------------------------------------------- */

#projetos { 
    background-color: #84728B;
    height: 90vh;
    width: 100%;
    scroll-snap-align: start;
    background-color: #84728B;
    display: flex;
    justify-content: center; 
    align-items: center;     
}

.etiqueta-projetos {
    background-color: #3F6152;      /* cor igual da sua imagem */
    color: #A8C3B5;                 /* mesmo tom de verde claro */
    font-family: 'Alfa Slab One', cursive;
    font-size: 2.8em;
    padding: 8px 35px;
    display: inline-block;
    position: relative;
    margin-left: 40px;              /* posição igual da imagem */
    margin-top: 20px;
}

/* Triângulo lateral (como na imagem) */
.etiqueta-projetos::after {
    content: "";
    position: absolute;
    right: -55px;
    top: 0;
    width: 0;
    height: 0;
    border-top: 40px solid #3F6152;  /* mesma cor */
    border-left: 55px solid transparent;
    transform: rotate(90deg);
}

.galeria { 
    display: grid; 
    grid-template-columns: repeat(4, 220px); 
    justify-content: center;  
    align-items: center;           
    flex-wrap: wrap;
    gap: 50px;
}

.item { 
    text-align: center;  
    width: 200px; 
} 

.item img { 
    width: 100%; 
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.25); 
} 

.titulo {  
    padding: 3px auto;
    color: #68566e;
    font-family: "Century Gothic", sans-serif;
    background-color: #9b8aa1;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


/* ------------------------------------------------------------- */
/* CURSOS */
/* ------------------------------------------------------------- */

#cursos { 
    background-color: #3F6152; 
    height: 90vh;
    width: 100%;
    scroll-snap-align: start;
    display: flex;             
    flex-direction: column;     
    justify-content: center;    
}

.etiqueta-cursos {
    background-color: #84728B;     
    color: #A8C3B5;                
    font-family: 'Alfa Slab One', cursive;
    font-size: 2.8em;
    padding: 8px 35px;
    display: inline-block;
    position: relative;
    margin-left: 40px;          
    margin-top: 20px;
}

/* Triângulo lateral (como na imagem) */
.etiqueta-cursos::after {
    content: "";
    position: absolute;
    right: -55px;
    top: 0;
    width: 0;
    height: 0;
    border-top: 40px solid #3F6152;  /* mesma cor */
    border-left: 55px solid transparent;
    transform: rotate(90deg);
}

.categoria {
    width: 350px;
    align-items: center;
}

.cat-right {
    margin-left: auto;   
    margin-right: 400px;  
    align-items: center;
}

.cat-left {
    margin-right: auto;  
    margin-left: 400px;  
    align-items: center;
}

.categoria h3 {
    font-family: "Sigmar", sans-serif;
    font-size: 2.5em;
    font-weight: bolder;
    color: #ffffff;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.25);
}

.categoria ul {
    list-style: none;
    padding: 0;
    font-family: "Century Gothic", sans-serif;
    font-size: 2;
    list-style: none;
    font-weight: bold;
}

.categoria li {
    font-size: 1.1rem;
    margin-bottom: 8px;
    padding-left: 15px;
    position: relative;
    color: #ffffff;
    padding-left: 0;
}

.categoria li::before {
    content: "•";
    position: absolute;
    left: 0;
    top: 0;
    color: white;
    font-size: 1.3rem;
    content: none; 
}

.img-curso {
    width: 500px;      
    margin-top: 20px;  
}


/* ------------------------------------------------------------- */
/* CONTATO */
/* ------------------------------------------------------------- */

#contato { 
    background-color: #84728B;
    height: 83vh;
    width: 100%;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.etiqueta-contato {
    background-color: #3F6152;      /* cor igual da sua imagem */
    color: #A8C3B5;                 /* mesmo tom de verde claro */
    font-family: 'Alfa Slab One', cursive;
    font-size: 2.8em;
    padding: 8px 35px;
    display: inline-block;
    position: relative;
    margin-left: 40px;              /* posição igual da imagem */
    margin-top: 20px;
}

/* Triângulo lateral (como na imagem) */
.etiqueta-contato::after {
    content: "";
    position: absolute;
    right: -55px;
    top: 0;
    width: 0;
    height: 0;
    border-top: 40px solid #3F6152;  /* mesma cor */
    border-left: 55px solid transparent;
    transform: rotate(90deg);
}

#contato h1 {
    font-family: "Sigmar", sans-serif;
    font-size: 2.5em;
    color: #f3d8a8; 
    text-align: center;
    font-weight: 700;
    margin: 0;
    line-height: 1;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.25);
}

#contato h2 {
    color: #ffffff;
    margin-bottom: 40px;
    text-align: center;
    font-weight: 700;
    margin: 0;
    margin-bottom: 10px;
    font-size: 1.3em;
}

#contato form {
    background-color: #3F6152;
    padding: 15px 25px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    margin: 20px;
    
}

#contato label {
    font-size: 1rem;
    color: #f5e7c8;
    margin-bottom: 8px;
}

#contato input {
    padding: 8px;
    font-size: 1rem;

    border-radius: 10px;
    border: none;
    outline: none;

    margin-bottom: 15px;
}

#contato input:focus {
    box-shadow: 0 0 0 3px #f3d8a8;
}

#contato input::placeholder,
#contato textarea::placeholder {
    color: #d7cbb3;
    font-size: 0.95rem;
}

#contato textarea#campo_msg {
    height: 50px;
    padding: 8px;
    border-radius: 10px;
    border: none;
    outline: none;
    resize: vertical;
    font-size: 1rem;
    line-height: 1.5;
}

#contato textarea#campo_msg:focus {
    box-shadow: 0 0 0 3px #f3d8a8;
}

.btn-enviar {
    background-color: #E0C792;
    color: #3F6152;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.3s ease;
}

.btn-enviar:hover {
    background-color: #92E0BD;
    color: #3F6152;
    transform: scale(1.07);
}


/* ------------------------------------------------------------- */
/* BOTÕES FIXOS */
/* ------------------------------------------------------------- */

.pontos-fixed {
    position: fixed;
    top: 30px;
    right: 10px;
    background: transparent;
    border: none;
    z-index: 9999;
}

.pontos-fixed img {
    width: 90px;
    height: auto;
    transition: transform .2s ease;
}

.zap-fixed {
    position: fixed;
    bottom: 10px;
    right: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 9999;
}

.zap-fixed img {
    width: 40px;
    transition: transform .2s ease;
}

.zap-fixed:hover img {
    transform: scale(1.15);
}

/* ------------------------------------------------------------- */
/* POPUP */
/* ------------------------------------------------------------- */

.popup-overlay {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    backdrop-filter: blur(6px);
    padding: 20px;
    overflow-y: auto;
    min-height: 100vh;
}

.popup {
    background: #baa5c2;
    width: 100%;
    max-width: 450px;
    border-radius: 18px;
    padding: 30px 40px;
    box-shadow: 0px 8px 25px rgba(0,0,0,0.25);
    position: relative;
    animation: popupShow .25s ease-out;
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin: auto;
}

.close-btn {
    position: absolute;
    top: 12px;
    right: 18px;
    font-size: 32px;
    cursor: pointer;
    color: #444;
    transition: .2s ease;
}

.close-btn:hover {
    color: #000;
    transform: scale(1.2);
}

.popup h2 {
    font-size: 1.8rem;
    color: #3F6152;
    text-align: center;
    margin: 0 0 15px;
}

.popup input,
.popup textarea {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 2px solid #ccc;
    font-size: 1rem;
    outline: none;
    resize: none;
    transition: border .2s ease;
}

.popup input:focus,
.popup textarea:focus {
    border-color: #3F6152;
}

.popup textarea {
    height: 120px; 
}

.popup button {
    background: #3F6152;
    color: #E0C792;
    padding: 12px;
    border-radius: 10px;
    border: none;
    font-size: 1.1rem;
    font-weight: bold;
    transition: 0.25s;
    cursor: pointer;
}

.popup button:hover {
    background: #92E0BD;
    color: #3F6152;
    transform: scale(1.05);
}

.site-footer {
    background-color: #3F6152;       
    color: #E0C792;                  
    text-align: center;
    padding: 25px 10px;
    font-family: "Century Gothic", sans-serif;
    font-size: 0.95rem;
    margin-top: 40px;
    scroll-snap-align: start;
}

.site-footer p {
    margin: 5px 0;
}


/* ------------------------------------------------------------- */
/* RESPONSIVIDADE */
/* ------------------------------------------------------------- */

@media (max-width: 850px) {
    #sobre {
        margin: 30px 15px;
        padding: 25px;
        font-size: 17px;
        height: auto !important;
        padding-bottom: 60px;
    }

    .sobre-container {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 800px) {
    .galeria {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .galeria {
        grid-template-columns: 1fr;
    }
}


@media (max-width: 767px) {
    .hero {
        background-size: contain;
        background-position: top center;
    }

    .btn-nav {
        width: 45%;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .popup {
        width: 80vw !important;
        height: auto !important;
        padding: 25px;
    }
}

@media (max-width: 500px) {
    .galeria {
        grid-template-columns: 1fr;
    }

    .popup {
        padding: 20px;
        max-width: 90vw;
    }

    .popup textarea {
        height: 140px;
    }
}
