html, body {
    width: 100%;
    overflow-x: hidden; /* remove a barra lateral */
    padding: 0;
    margin: 0;
}
.hero {
    width: 100%;
    height: 850px; /* altura original */
    background-image: url('images/fundo2.png');
    background-size: contain; /* mantém a imagem inteira */
    background-position: center;
    background-repeat: no-repeat;
    background-color: #cca1cc; /* cor de fundo caso sobrem espaços */
}


/* 📺 TV ou telas MUITO grandes */
@media (min-width: 1600px) {
    .hero {
        height: 600px;
    }
}

/* 🖥️ Monitor grande (como o do curso) */
@media (min-width: 1200px) and (max-width: 1599px) {
    .hero {
        height: 500px;
    }
}

/* 💻 Notebook */
@media (min-width: 768px) and (max-width: 1199px) {
    .hero {
        height: 380px;
    }
}

/* 📱 Celular */
@media (max-width: 767px) {
    .hero {
        height: 220px;
    }
}

