/* ------------------------------------------------------------- */
/* GERAL */
/* ------------------------------------------------------------- */

body {
    background-color: #84728B;
    margin: 0 !important;
    padding: 0 !important;
}

html {
    scroll-behavior: smooth;
}

section {
    scroll-snap-align: start;
}

/* ------------------------------------------------------------- */
/* CAPA */
/* ------------------------------------------------------------- */

#capa {
    background-image: url('imagens/fundo1.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.capa-texto {
    position: absolute;
    top: 30%;
    left: 10%;
    color: white;
}

.capa-texto h1 {
    font-family: 'Alfa Slab One', serif;
    font-size: 4rem;
}

.capa-texto h2 {
    font-family: 'Sigmar', cursive;
    font-size: 2.3rem;
    margin-top: -20px;
}

.botao-capa {
    margin-top: 25px;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: #3F6152;
    font-size: 20px;
    color: white;
    border: none;
}

/* ------------------------------------------------------------- */
/* SOBRE */
/* ------------------------------------------------------------- */

#sobre {
    height: 90vh;
    width: 100%;
    scroll-snap-align: start;
    background-color: #84728B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre-container {
    display: flex;
    gap: 40px;
}

.sobre-texto {
    width: 500px;
    text-align: justify;
    font-size: 1.2em;
    color: #4a2b4a;
    line-height: 1.7;
    max-width: 600px;
    padding: 20px;
}

.sobre-img img {
    width: 300px;
    border-radius: 10px;
}

/* ------------------------------------------------------------- */
/* PROJETOS */
/* ------------------------------------------------------------- */

#projetos {
    height: 92vh;
    width: 100%;
    scroll-snap-align: start;
    background-color: #84728B;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    justify-items: center;
    align-items: center;
}

.item {
    text-align: center;
}

.item img {
    width: 250px;
    border-radius: 10px;
}

/* ------------------------------------------------------------- */
/* CURSOS */
/* ------------------------------------------------------------- */

#cursos {
    height: 90vh;
    width: 100%;
    background-image: url("imagens/fundo-cursos.png");
    background-size: cover;
    background-position: center;
}

.cursos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.curso {
    display: flex;
    align-items: center;
    gap: 20px;
}

.img-curso {
    width: 200px;
    border-radius: 10px;
}

.categoria h3 {
    font-size: 2rem;
}

/* ------------------------------------------------------------- */
/* CONTATO */
/* ------------------------------------------------------------- */

#contato {
    background-color: #84728B;
    height: 90vh;
    width: 100%;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 50px;
}

form {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 15px;
}

input,
textarea {
    padding: 15px;
    border-radius: 10px;
    border: none;
}

.botao-enviar {
    background-color: #3F6152;
    padding: 10px 0;
    border-radius: 10px;
    color: white;
    border: none;
}

/* ------------------------------------------------------------- */
/* POPUP */
/* ------------------------------------------------------------- */

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    max-width: 90vw;
    border-radius: 10px;
    z-index: 2000;
}

/* ------------------------------------------------------------- */
/* FOOTER */
/* ------------------------------------------------------------- */

footer {
    background-color: #3F6152;
    color: white;
    text-align: center;
    padding: 20px;
}

/* ------------------------------------------------------------- */
/* RESPONSIVIDADE */
/* ------------------------------------------------------------- */

@media (max-width: 1400px) {

    .galeria img {
        width: 220px;
    }

    #cursos {
        background-size: 130%;
    }

    .cat-left,
    .cat-right {
        width: 600px;
        gap: 30px;
        justify-content: space-between;
        gap: 20px;
    }

    .img-curso {
        width: 170px;
    }

    .categoria h3 {
        font-size: 1.7rem;
    }
}

@media (max-width: 1100px) {

    .galeria {
        grid-template-columns: repeat(3, 1fr);
    }

    .item img {
        width: 200px;
    }

    .cat-left,
    .cat-right {
        position: relative;
        text-align: center;
        box-sizing: border-box;
        height: 150px;
        width: 450px;
        height: 40%;
        gap: 30px;
        display: flex;
        justify-content: center;
    }

    animation: none !important;

    .categoria h3 {
        font-size: 1.5rem !important;
    }

    .img-curso {
        width: 150px;
    }
}

@media (max-width: 900px) {

    .galeria {
        grid-template-columns: repeat(2, 1fr);
    }

    .item img {
        width: 180px;
    }

    .cursos-container {
        flex-direction: column;
    }

    .categoria h3 {
        font-size: 1.5rem;
    }

    #cursos {
        background-size: 160%;
    }
}

@media (max-width: 850px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }
}

@media (max-width: 800px) {
    .sobre-container {
        flex-direction: column;
    }
}

@media (max-width: 767px) {

    #capa {
        background-position: right;
    }

    .capa-texto h1 {
        font-size: 3rem;
    }

    .capa-texto h2 {
        font-size: 1.8rem;
    }
}

@media (max-width: 600px) {

    .popup {
        width: 80vw !important;
        padding: 25px;
        height: auto !important;
    }

    textarea {
        height: 140px;
    }
}

@media (max-width: 500px) {

    .galeria {
        grid-template-columns: 1fr;
    }

    .item img {
        width: 200px;
    }

    #cursos {
        background-size: 190%;
    }
}
