@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Nothing+You+Could+Do&family=Permanent+Marker&family=Rock+Salt&family=Sigmar&display=swap');

body {
    background-color: #84728B; /* cor de fundo da página */
    margin: 0;                 /* remove margens padrão */
    padding: 0;                /* remove espaçamentos padrão */
}

html, body {
    width: 100%;               /* garante largura total */
    overflow-x: hidden;        /* evita barra de rolagem horizontal */
    scroll-behavior: smooth;        /* rolagem suave */
    scroll-snap-type: y mandatory;  /* ativa o snap vertical */
    height: 100%;
    margin: 0;
    padding: 0;
}

.hero {
    width: 100%;                                 /* ocupa 100% da largura */
    background-image: url('images/fundo4.png');   /* imagem de fundo */
    background-size: contain;                     /* mostra a imagem inteira sem cortar */
    background-position: center top;              /* centraliza horizontalmente e alinha no topo */
    background-repeat: no-repeat;                 /* evita que repita */
    background-color: #84728B;                    /* cor atrás da imagem */
    aspect-ratio: 1920 / 850;                     /* mantém proporção da imagem original */
    scroll-snap-align: start;
}

.menu {
    background-color: #84728B;
    display: flex;             /* deixa os itens lado a lado */
    justify-content: center;   /* centraliza horizontalmente */
    gap: 100px;                 /* espaçamento entre botões */
    margin: 0 0 20px 0 ;           /* espaçamento vertical */
    flex-wrap: wrap;           /* permite quebrar linha no celular */
}

nav.menu a.btn-nav {
    padding: 10px 80px;            /* tamanho do botão */
    margin: 20px;
    align-items: center;           /* centraliza verticalmente */
    background-color: #3F6152;     /* roxo escuro */
    color: #E0C792;                /* texto branco */
    text-decoration: none;         /* remove sublinhado */
    font-size: 18px;               /* tamanho da fonte */
    font-weight: bold;             /* deixa em negrito */
    border-radius: 8px;            /* cantos arredondados */
    transition: 0.3s ease;         /* animação suave */
    border: 2px solid transparent; /* borda só aparece no hover */
}

/* HOVER = quando passa o mouse */
.btn-nav:hover {
    background-color: #92E0BD; /* muda para o roxo claro */
    color: #E0C792;            /* texto escuro para contraste */
    border-color: #CA92E0;     /* borda aparece */
    transform: scale(1.05);    /* dá zoom suave */
}

#sobre {
    background-color: #3F6152;
    height: 95vh;
    width: 100%;
    scroll-snap-align: start;   
}
.sobre-texto p {
    max-width: 800px;
    text-align: justify;
    font-size: 1.2em;
    color: white;                      
    line-height: 1.7;
    min-width: 300px;
    flex-wrap: wrap;     
}
.sobre-texto h1 {
    font-family: "Sigmar", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    font-weight: bolder;
    color: #E0C792;                                      
}
.sobre-imagem img {    
    width: 100%;      /* permite que ela reduza conforme o container/tela */
    height: auto;     /* mantém a proporção */
    flex: 0 0 400px; /* garante largura da coluna */
    display: flex;
    justify-content: center;
}
.sobre-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 40px;
    align-items: center;
}

#projetos {
    background-color: #84728B;
    height: 95vh;
    width: 100%;
    scroll-snap-align: start;
}

#cursos {
    background-color: #3F6152;
    height: 95vh;
    width: 100%;
    scroll-snap-align: start;
}

#contato {
    background-color: #84728B;
    height: 95vh;
    width: 100%;
    scroll-snap-align: start;
}


@media (max-width: 850px) {
    #sobre {
        margin: 30px 15px;
        padding: 25px;
        font-size: 17px; /* reduz tamanho */
        height: auto !important;   /* libera altura de todas as seções */
        padding-bottom: 60px;
    }
}
@media (max-width: 850px) {

    .sobre-container {
        flex-direction: column; /* coloca texto e imagem um abaixo do outro */
        text-align: center;     /* centraliza texto */
    }

    .sobre-texto {
        padding-right: 0;       /* remove espaçamento */
    }
}


@media (min-width: 1600px) {
    .hero {
        background-size: contain;
        background-position: center top;
    }
}

@media (min-width: 1200px) and (max-width: 1599px) {
    .hero {
        background-size: contain;
        background-position: center top;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .hero {
        background-size: contain;
        background-position: top center;
    }
}

@media (max-width: 767px) {
    .hero {
        background-size: contain;  /* garante que a imagem inteira apareça */
        background-position: top center;
    }
}
@media (max-width: 767px) {
    .btn-nav {
        width: 45%;           /* dois botões por linha */
        text-align: center;   /* centraliza texto */
    }
}
